//helpers
$black:rgb(0, 0, 0);
$light_black:rgb(10, 10, 10);
$pink:rgb(230, 24, 120);
$white:whitesmoke;
$gray_dark:rgb(110, 108, 108);
$primaryfont:'fredoka', sans-serif;
$secondaryfont:Georgia, serif;